@model StoreApp.Model.Input.Cart
<partial name="/Views/Partials/FlashMessagePartial.cshtml" />
<h2 class="text-center">Cart</h2>

@if (@Model.Items.Count == 0) {
    <p class="text-center">Your cart is currently empty.</p>
    <div class="flex-col items-center text-center">
        <form>
            <a class="button-link-dark" asp-controller="Storefront" asp-action="Index">Start Shopping</a>
        </form>
    </div>
} else {

    <div class="flex-col sm:flex-row">
        <div class="flex-col mx4 text-center sm:flex-order-1 sm:checkout-container">
            <div class="text-3xl text-bold">Total: $@Model.TotalCost()</div>
            <a class="button-link-dark" asp-controller="Checkout" asp-action="Index">Checkout</a>
            <button type="submit" value="update" name="action" form="cartform">Update Quantities</button>
        </div>

        <form class="edit-cart-grid justify-center width-100" id="cartform" asp-controller="Cart" asp-action="Update" method="POST">
            @for (var i = 0; i < @Model.Items.Count; i++)
            {
                StoreApp.Model.Input.CartItem item = Model.Items[i];
                <input type="hidden" name="Items[@i].Id" value="@item.Id">
                <div class="flex-row">
                    <div class="flex-col items-center m4">
                        <div class="flex-col items-center bd-radius-lg candy-card-container">
                            <img class="candy-card-image" src="/img/product/@item.ImageName">
                            <div class="flex-col items-center justify-center height-100 width-100 p3 text-center text-gray-50 color-bg-brand text-bold card-cost-border">@item.Name</div>
                            <div class="flex-col items-center justify-center height-100 width-100 p3 text-center text-gray-50 color-bg-brand text-bold">$@item.UnitPrice each</div>
                        </div>
                    </div>

                    <div class="flex-col justify-center p4">
                        <div class="my4 text-5xl">$@item.TotalPrice()</div>
                        <div class="my4">
                            <label for="Items[@i].Quantity">Quantity</label>
                            <input type="number" name="Items[@i].Quantity" value="@item.Quantity" min="0" max="@item.Stock" placeholder="Quantity">
                        </div>
                        <button class="my4" type="submit" value="RemoveItem.@i" name="action">Remove Item</button>
                    </div>
                </div>
            }
        </form>
    </div>
}
